@charset "ISO-8859-1";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
}

/* Header Styles */
header {
	display: flex;
	justify-content: space-between;
	background-color: #007BFF;
	color: #fff;
	padding: 20px 0;
	text-align: center;
}

header h1 {
	margin-left: 20px;
	font-family: 'Roboto', sans-serif;
}

/* Signout button in the header */
.signout {
	background-color: transparent;
	border: none;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	margin-right: 30px;
}

header .signout:hover {
	text-decoration: none;
}
/* Sidebar Styles */
aside {
	background-color: #333;
	color: #fff;
	min-height: 100vh;
	position: absolute;
	width: 13%;
	padding: 20px 0;
	text-align: center;
}

aside ul {
	list-style-type: none;
	padding: 0;
}

aside li {
	margin: 0;
	padding: 0;
	list-style: none;
	padding-top: 10%;
}

aside button {
	background-color: transparent;
	border: none;
	color: #fff;
	padding: 10px 0;
	width: 100%; /* Full-width buttons */
	cursor: pointer;
	transition: background-color 0.3s ease;
	font-size: 16px;
}

aside button:hover {
	background-color: #555;
}

.signout {
	font-size: larger;
	background-color: transparent;
	border: none;
}

main {
	margin-left: 15%;
	margin-right: 2%;
	padding-top: 1%;
}