@charset "ISO-8859-1";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
	background-color: #f9f7f7;
	overflow-x: hidden;
}

#webTitle {
	margin-left: 30px;
}
/* Header Styles */
header {
	position: fixed;
	display: flex;
	justify-content: space-between;
	background-color: #007BFF;
	color: #fff;
	padding: 20px 0;
	text-align: center;
	width: 100%;
	z-index: 100;
}

header h1 {
	margin-left: 20px;
	font-family: 'Roboto', sans-serif;
}
/* Signout button in the header */
.signout {
	background-color: transparent;
	border: none;
	color: #fff;
	cursor: pointer;
	margin-right: 30px;
	font-size: larger;
}

header .signout:hover {
	text-decoration: none;
}
/* Sidebar Styles */
aside {
	height: 100%; /* Set the height to 100% of the parent container */
	overflow-y: auto;
	/* Add vertical scroll when content exceeds the height */
	background-color: #333;
	color: #fff;
	width: 15%; /* Adjust the width as needed */
	position: fixed; /* Fixed position to stay in view while scrolling */
	top: 0; /* Position it at the top */
	left: 0; /* Position it on the left */
}

aside ul {
	list-style-type: none;
	padding: 0;
	margin-top: 100px;
}

aside li {
	margin: 0;
	padding: 0;
	list-style: none;
}

aside button {
	background-color: transparent;
	border: none;
	color: #fff;
	padding: 10px 0;
	width: 100%;
	cursor: pointer;
	transition: background-color 0.3s ease;
	font-size: 16px;
	margin-top: 20px;
	text-align: left;
	padding-left: 30px;
}

aside button:hover {
	background-color: #555;
}

a {
	color: white;
	text-decoration: none;
}

main {
	padding-top: 7%;
	margin-left: 15%;
}